.stopwatch {
  text-align: center;
  padding: 1rem;
}

.stopwatch .current-state {
  font-weight: 600;
}

.stopwatch .current-state.initial {
  color: #8c14fc;
}

.stopwatch .current-state.running {
  color: #02bfa1;
}

.stopwatch .current-state.stopped {
  color: #d91e18;
}

.stopwatch .time-display {
  display: block;
  padding: 0.5rem;
}
